.logo-link{
  &:link, &:visited, &:hover, &:active{
    color: #fff;
    text-decoration: none;
  }

}

.link {
    color: #265C83;
    text-decoration: none;

    &:link, &:visited {
      color: #265C83;
    }

    &:hover, &:active{
      color: #007BE6;
    }
}

md-toast {
  &.error {
    .md-toast-content {
      background: rgb(244, 67, 54);
      color: white;
    }
  }
  &.success {
    .md-toast-content {
      background: rgb(76, 175, 80);
      color: white;
    }
  }
}