@import 'mixins';

.logo-link{
  &:link, &:visited, &:hover, &:active{
    color: #fff;
    text-decoration: none;
  }
}

.link {
  @include link-template(#265C83, #007BE6, none, none);
}

.error-link {
  @include link-template(#666666, #828282, underline, underline);
}

.neutral-warning-text{
  text-align: center;
  color: #757575;
}