<md-content class="content-section" layout="column" layout-align="center center" flex>

    <h1>Tone Analysis</h1>
    <h2>Step 2 of 2</h2>

    <p class="content-text-block text-center">
        Select analysis options
    </p>

    <p class="content-text-block text-center">
        <b>{{ vm.selectedChannel }}</b>
    </p>

    <div class="range-options" layout="column" layout-align "center center">

        <md-radio-group ng-model="vm.mode">
            <md-radio-button value="all" class="md-primary">All messages</md-radio-button>
            <md-radio-button value="range" class="md-primary">Messages in date range</md-radio-button>
        </md-radio-group>

        <div class="date-options" layout="column">
            <div>
                <md-checkbox ng-model="vm.fromCheck" ng-disabled="vm.mode == 'all'" md-no-ink aria-label="From" class="md-primary">
                    From
                </md-checkbox>
                <md-datepicker ng-model="vm.fromDate" md-max-date="vm.today" ng-disabled="vm.mode == 'all' || !vm.fromCheck" md-placeholder="Enter date"></md-datepicker>
            </div>

            <div>
                <md-checkbox ng-model="vm.toCheck" ng-disabled="vm.mode == 'all'" md-no-ink aria-label="To" class="md-primary">
                    To
                </md-checkbox>
                <md-datepicker ng-model="vm.toDate" md-min-date="vm.minDate" md-max-date="vm.today" ng-disabled="vm.mode == 'all' || !vm.toCheck"
                    md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>

        <md-checkbox ng-model="vm.shareDataFlag" md-no-ink class="md-primary share-check">
            Yes, I would like to share my anonymous analysis results with SlackInspector.
        </md-checkbox>

    </div>

    <div layout="row" layout-align="space-between center">
        <md-button ng-click="vm.goToStep1()" class="md-raised" aria-label="Back">Back</md-button>
        <md-button ng-disabled="vm.mode === 'range' && !vm.fromCheck && !vm.toCheck" ng-click="vm.goToAnalysis()" class="md-raised md-primary"
            aria-label="Next">Next</md-button>
    </div>

</md-content>