html, body {
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

.basic-footer {
  border-top: 1px solid #ddd;
  & a{
    margin-right: 10px;
  }
}