.content-section {
    padding: 30px 0 30px 0;
    text-align: justify;
}

.text-center{
    text-align: center;
}

.content-text-block {
    font-size: 16px;
    line-height: 160%;
    width: 50%;

    @media (min-width: 1300px){
        width: 30%;
    }

    @media (max-width: 960px){
        width: 90%;
    }
}

.main-header {
    @media (max-width: 960px){
        margin-top: 100px;
    }
}