<div layout="row" layout-sm="column" layout-align="center center" ng-hide="vm.hideLoader" flex>
    <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
</div>

<md-content class="content-section" layout="column" layout-align="center center" ng-show="vm.hideLoader && !vm.showError"
    ng-class="{ flex: vm.hideLoader && !vm.showError }">
    <h1>Average Analysis Results</h1>

    <p class="content-text-block text-center">
        Averages are based on the anonymous tone analysis results which were collected by SlackInspector.
    </p>

    <p class="content-text-block text-center">
        You can get detailed explanation of tone scores <a class="link" target="_blank" href="https://www.ibm.com/watson/developercloud/doc/tone-analyzer/understanding-tone.shtml">here</a>.
    </p>

    <div layout="row" layout-sm="column" layout-xs="column">
        <md-whiteframe class="md-whiteframe-4dp tone-chart-container emotion-container-spacing">
            <h3>Emotion</h3>
            <div ng-repeat="tone in vm.emotionTones">
                <div class="tone-bar-container">
                    <div class="regular-tone-title">
                        <span>{{ tone.name }}</span>
                    </div>
                    <div class="tone-bar">
                        <div class="tone-track">
                            <div class="tone-fill emotion-tone-fill" ng-style="tone.style"></div>
                        </div>
                    </div>
                    <span>{{ tone.score }}</span>
                </div>
            </div>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-4dp tone-chart-container language-container-spacing">
            <h3>Language Style</h3>
            <div ng-repeat="tone in vm.languageTones">
                <div class="tone-bar-container">
                    <div class="regular-tone-title">
                        <span>{{ tone.name }}</span>
                    </div>
                    <div class="tone-bar">
                        <div class="tone-track">
                            <div class="tone-fill language-tone-fill" ng-style="tone.style"></div>
                        </div>
                    </div>
                    <span>{{ tone.score }}</span>
                </div>
            </div>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-4dp tone-chart-container social-container-spacing">
            <h3>Social Tendencies</h3>
            <div ng-repeat="tone in vm.socialTones">
                <div class="tone-bar-container">
                    <div class="large-tone-title">
                        <span>{{ tone.name }}</span>
                    </div>
                    <div class="tone-bar">
                        <div class="tone-track">
                            <div class="tone-fill social-tone-fill" ng-style="tone.style"></div>
                        </div>
                    </div>
                    <span>{{ tone.score }}</span>
                </div>
            </div>
        </md-whiteframe>
    </div>
</md-content>

<div layout="row" layout-align="center center" ng-show="vm.hideLoader && vm.showError" flex>
    <div>
        <h3 class="neutral-warning-text">
            <md-icon md-svg-icon="warning"></md-icon>
            Oops! <a href="javascript:void(0);" class="error-link" ng-click="vm.tryAgain()">Please try again</a>
        </h3>
        <p class="center-text">
            <a href="javascript:void(0);" class="error-link" ng-click="vm.showErrorDialog()">Show error</a>
        </p>
    </div>
</div>